roboflow
python-dotenv
torch>=1.12.0
torchvision>=0.13.0
numpy>=1.23
Pillow>=9.0
opencv-python>=4.5
matplotlib>=3.5
seaborn>=0.12
pandas>=1.5
PyYAML>=6.0
tqdm>=4.64
transformers>=4.20
pytesseract>=0.3.9
easyocr>=1.4.1
